* {
	margin: 0;
	padding: 0;
}

body {
	padding: 60px;
	text-align: center;
}

p title {
	text-align: center;
	font-style: strong sans-serif;
}


table tr:not(.total) {
	cursor: pointer;
	color: #7B8585;
	background-color: #eee;
	margin-bottom: 1px;
}

table tr:hover:not(.total) {
	background-color: #beecea;
}

table tr.selected {
	color: #fff;
	background-color: #41c7c2;
}


